:root {
  --primary-color: #6f4e37;
  --secondary-color: #dcc7aa;
  --accent-color: #c19a6b;
  --neutral-color: #f5ebdd;
  --contrast-color: #3e2723;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--neutral-color);
}

section {
  margin: 40px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-logo {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
  padding: 1rem;
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-nav a {
  color: var(--contrast-color);
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: block;
  transition:
    color,
    background-color 0.2s;
}

.header-nav a:hover {
  color: var(--secondary-color);
  background-color: var(--contrast-color);
}

.hero h1 {
  text-align: center;
  margin: 3rem 0 3rem 0;
}
.hero img {
  display: none;
}

.about {
  width: 90%;
  margin: auto;
}

.about {
  font-size: 1.2rem;
  text-align: center;
}

.products_title {
  text-align: center;
}

.card_item {
  margin-bottom: 2rem;
  padding: 1rem;
  overflow: hidden;
}

.card_item img {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all .2s ease;
}

.card_content {
  background-color: var(--secondary-color);
  padding: 1rem;
}

.card_content h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.card_content p {
  margin: 1rem 0 0 0;
}
.card_content span {
  font-size: 1.8rem;
}

.card_btn {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  /* border: 1px solid; */
  border: none;
  border-radius: 2px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-weight: bold;

  transition: all 0.3s ease;
}

.footer {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  margin-top: 1rem;
}

.footer a {
  color: white;
}

/* media querys */

@media screen and (min-width: 35em) {
  .container {
    max-width: 90%;
    margin: auto;
  }

  .header-nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .header-nav a {
    border-radius: 0.5rem;
  }

  .cards_container {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .card_item {
    flex-grow: 1;
    transform: translateY(-5px);
    flex-shrink: 1;
    flex-basis: 300px;

    margin-bottom: 0;
    background-color: #dcc7aa;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card_item img {
    width: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
    height: 180px;
  }

 
  .card_content h2 {
    font-size: 1rem;
  }

  .card_content span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .container {
    max-width: 80%;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .header-logo {
    padding: 0;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero span {
    display: block;
  }
  .hero img {
    display: block;
    max-width: 600px;
  }

  .products {
    align-items: flex-start;
  }

  .card_item {
    flex-grow: 0;
  }

   .card_item img:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.05);
  }

  .card_btn:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
    cursor: pointer;
    transform: scale(1.05);
  }
}
